.category{
  color: #aaaaaa;	
}
iframe.embed {
	width: 81%;
	height: 25em;
}
/*.site-nav {
	line-height: 10px;
}*/

a .category:hover 
{
  color:#2DE6CF;
}  

.excerpt {
  font-style: italic;
  font-size: medium;
  font-family: serif;
  margin-top: 1%;
}
body {
	font-family: "Open Sans", Arial, sans-serif;
}

pre {
  white-space: pre-wrap;
}

pre, pre > code {
  /* Make more code fit on small screens */
  font-size: 12px !important;
}

img{
 display: block;
 max-width: 100%;
 height: auto;
}

@media only screen and (min-width: 481px) {
  pre, pre > code {
    /* Bigger font on bigger screens */
    font-size: 16px !important;
  }
}

.related {
margin-top : 5%;
}

.related h2{  
  font-weight: bold;
  display: block;
  font-size: 100%;
  margin-bottom: 2%;
}
.related ul {
  list-style-type: none;
}
.related ul li {
  line-height: 1.75em;
}
.related span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  text-align : left;
}

.post-content table {
  border-collapse: collapse;
  width: 100%;
}

.post-content table th,td {
 padding: 6px 13px;
 border: 1px solid #ddd;
}

.post-content {
margin-bottom : 5%;
}
/* Youtube responsive */
.video-container { 
position: relative; 
padding-bottom: 56.25%; 
padding-top: 30px; 
height: 0; 
overflow: hidden; } 
.video-container iframe, 
.video-container object, 
.video-container embed { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; } 
