.category{
  color: #aaaaaa;	
}
iframe.embed {
	width: 81%;
	height: 25em;
}
.site-nav {
	line-height: 10px;
}

a .category:hover 
{
color:#2DE6CF;
}  

.excerpt {
font-style: italic;
font-size: medium;
font-family: serif;
margin-top: 1%;
}
body {
	font-family: "Open Sans", Arial, sans-serif;
}

pre {
  white-space: pre-wrap;
}

pre, pre > code {
  /* Make more code fit on small screens */
  font-size: 14px;
}

img{
 display: block;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 481px) {
  pre, pre > code {
    /* Bigger font on bigger screens */
    font-size: 16px;
  }
 }
